{% extends 'base.html' %}
{% load static %}
{% load custom_timesince %}
{% load query_transform %}

{% block page_title %}
Forgotten books
{% endblock page_title %}

{% block body %}
<div class="site-main site-index">
    <div class="filter-sort">
        <ul>
            <form>
                {{filter_sort_form.language.errors}}
                {{filter_sort_form.language.label_tag}}
                {{filter_sort_form.language}}

                {{filter_sort_form.genre.errors}}
                {{filter_sort_form.genre.label_tag}}
                {{filter_sort_form.genre}}

                {{filter_sort_form.solved.errors}}
                {{filter_sort_form.solved.label_tag}}
                {{filter_sort_form.solved}}

                <div class="sort-fields">
                    {{filter_sort_form.sort_by.errors}}
                    {{filter_sort_form.sort_by.label_tag}}
                    <div class="sort-inputs">
                        {{filter_sort_form.sort_by}}

                        {{filter_sort_form.reverse_order.errors}}
                        {{filter_sort_form.reverse_order}}
                        {{filter_sort_form.reverse_order.label_tag}}
                    </div>
                </div>

            </form>
        </ul>

    </div>


    <div class="book-list">
        <ul>

            {% for book in books %}
            <a class="book" href={% url 'details' book.id %}>

                {% if book.solved %}
                <i class="fas fa-check-circle solved-icon"></i>

                {% endif %}

                <div class="main-book-info {{book.main_field | slugify}}"
                    style="background-image: url({% static 'images/books.jpg' %});">
                    <h3 class="main-book-info-label">
                        {{book.main_field | capfirst}}
                    </h3>
                    <div class="main-book-info_body">
                        {% if book.plot_details %}
                        {{book.plot_details | truncatewords:25}}
                        {% elif book.quotes %}
                        {{book.quotes | truncatewords:25}}
                        {% elif book.cover_description %}
                        {{book.cover_description | truncatewords:25}}
                        {% endif %}
                    </div>
                </div>

                <ul class="genres-list">
                    {% for genre in book.genre.all %}
                    <li class="genre">{{genre}}</li>
                    {% endfor %}
                </ul>

                <p class="year-read">Year read: {{book.year_read}}</p>

                <div class="book-footer">
                    <p>{{book.comment_count}} comments</p>

                    <p class="posted">
                        {{book.last_modified|custom_timesince}}
                    </p>
                </div>
            </a>

            {% endfor %}

        </ul>
    </div>

    {% if books.has_other_pages %}
    <ul class="pagination">
        {% if books.has_previous %}
        <li>
            <a href="?{% query_transform page=books.previous_page_number %}">&laquo;</a>
        </li>
        {% else %}
        <li><span>&laquo;</span></li>
        {% endif %}

        {% for i in books.paginator.page_range %}
        {% if books.number == i %}
        <li class="page-number active"><span>{{ i }}</span></li>
        {% else %}
        <li class="page-number"><a href="?{% query_transform page=i %}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if books.has_next %}
        <li><a href="?{% query_transform page=books.next_page_number %}">&raquo;</a></li>
        {% else %}
        <li><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>


{% endblock body %}