{% extends 'base.html' %}
{% load static %}


{% block page_title %}
Describe a Book
{% endblock page_title %}


{% block head_scripts %}
<script defer src="{% static 'scripts/multipage_create_form.js' %}"></script>
{% endblock head_scripts %}

{% block body %}
<div class="site-main site-create">
    <h1>Tell us about the book you're looking for.</h1>
    <h2>The more details the better.</h2>
    <div class="form-container">
        <nav class="form-nav">
            <ul>
                <li class="selected">Title and author</li>
                <li>Publishing details</li>
                <li>Plot</li>
            </ul>
        </nav>
        <form action="{% url 'create' %}" method="POST" class="create-form" novalidate>
            {% csrf_token %}
            {{form.non_field_errors}}
            <ul class="group-one">
                {{ form.title_tips.errors }}
                <li>
                    <div>
                        {{ form.title_tips.label_tag }}
                        <p>{{form.title_tips.help_text}}</p>
                    </div>
                    {{ form.title_tips }}
                </li>
                {{ form.author_tips.errors }}
                <li>
                    <div>
                        {{ form.author_tips.label_tag }}
                        <p>{{ form.author_tips.help_text }}</p>
                    </div>
                    {{ form.author_tips }}
                </li>
                {{ form.language.errors }}
                <li>
                    <div>
                        {{ form.language.label_tag }}
                        <p>{{ form.language.help_text }}</p>
                    </div>
                    {{ form.language }}
                </li>
                <div class="form-group-buttons"><button type="button" class="continue-btn">Continue</button></div>
            </ul>
            <ul class="group-two">
                {{ form.year_written.errors }}
                <li>
                    <div>
                        {{ form.year_written.label_tag }}
                        <p>{{ form.year_written.help_text }}</p>
                    </div>
                    {{ form.year_written }}
                </li>

                {{ form.year_read.errors }}
                <li>
                    <div>
                        {{ form.year_read.label_tag }}
                        <p>{{ form.year_read.help_text }}</p>
                    </div>
                    {{ form.year_read }}
                </li>

                {{ form.part_of_series.errors }}
                <li>
                    <div>
                        {{ form.part_of_series.label_tag }}
                        <p>{{ form.part_of_series.help_text }}</p>
                    </div>
                    {{ form.part_of_series }}
                </li>
                {{ form.cover_description.errors }}
                <li>
                    <div>
                        {{ form.cover_description.label_tag }}
                        <p>{{ form.cover_description.help_text }}</p>
                    </div>
                    {{ form.cover_description }}
                </li>
                <div class="form-group-buttons">
                    <button type="button" class="back-btn">Back</button>
                    <button type="button" class="continue-btn">Continue</button>
                </div>
            </ul>
            {{ form.genre.errors }}
            <ul class="group-three">
                <li class="genre-field">
                    <div>
                        {{ form.genre.label_tag }}
                        <p>{{ form.genre.help_text }}</p>
                    </div>
                    <ul id="id_genre" class="genre-choices">
                        {% for choice_id, choice_label in form.genre.field.choices %}
                        <li>
                            <input type="checkbox" name="genre" value={{choice_id}} id="{{choice_id}}">
                            <label for="{{choice_id}}">{{choice_label}}</label>

                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {{ form.plot_details.errors }}
                <li>
                    <div>
                        {{ form.plot_details.label_tag }}
                        <p>{{ form.plot_details.help_text }}</p>
                    </div>
                    {{ form.plot_details }}
                </li>
                {{ form.quotes.errors }}
                <li>
                    <div>
                        {{ form.quotes.label_tag }}
                        <p>{{ form.quotes.help_text }}</p>
                    </div>
                    {{ form.quotes }}
                </li>
                {{ form.additional_notes.errors }}
                <li>
                    <div>
                        {{ form.additional_notes.label_tag }}
                        <p>{{ form.additional_notes.help_text }}</p>
                    </div>
                    {{ form.additional_notes }}
                </li>
                <div class="form-group-buttons">
                    <button type="button" class="back-btn">Back</button>
                    <button type="submit">Done</button>
                </div>
            </ul>


        </form>
    </div>
    <input type="hidden" name="error_page" id="error_page" value={{first_error_page}}>
</div>
{% endblock body %}