{% extends 'base.html' %}
{% load custom_timesince %}


{% block page_title %}
Book Details
{% endblock page_title %}


{% block body %}

<div class="site-main book-details">
    <div class="author-side-banner">
        <div class="author">
            <img src={{book_user_photo}} alt="profile-picture" />
            <span>{{book_user}}</span>
        </div>
        <a href={% url 'edit book' book_id %}>Edit Book Data</a>
    </div>
    <div class="fields">
        <div class="short-fields">
            {% for label, field in book_short_fields.items %}

            {% if field %}

            <div class="field short-field {{label|slugify}}">
                <span class="field-label">{{label}}</span>
                <p>{{field}}</p>
            </div>
            {% endif %}

            {% endfor %}
        </div>


        <div class="long-fields">
            {% for label, field in book_long_fields.items %}

            {% if field %}

            <div class="field long-field {{label|slugify}}">
                <span class="field-label">{{label}}</span>

                {% if label == "Genre" %}
                <ul class="genres-list">
                    {% for genre in field.all %}
                    <li class="genre">{{genre}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>{{field}}</p>
                {% endif %}

            </div>
            {% endif %}

            {% endfor %}
        </div>

    </div>

    <div class="comments">

        {% if user.is_authenticated %}
        <div class="comment-form-container">
            <img src={{current_user_photo}} alt="profile picture">
            <form method="POST">
                {{comment_form}}
                <button type="submit">Post</button>
            </form>
        </div>
        {% endif %}


        {% for comment in comments %}
        <div class="comment">
            <img src={{comment.user_photo}} alt=" comment photo">
            <div class="comment-body">
                <div class="comment-header"><span class="username">{{comment.user}}</span>

                    <span class="posted-time">{{comment.last_modified|custom_timesince }}</span>

                    {% if user.id == book_user_id and not book_solved%}
                    <a href={% url 'solution pick' book_id comment.id %}><i class="fas fa-check-square"></i>
                        Mark as solution</a>
                    {% endif %}

                    {% if comment.is_solution %}
                    <span class="solution-badge"><i class="fas fa-check-square"></i>SOLUTION</span>
                    {% endif %}

                </div>
                <p>{{comment.text}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}