{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="site-main site-index">
    <div class="filter-sort">
        <ul>
            <form>
                {{filter_sort_form.language.errors}}
                {{filter_sort_form.language.label_tag}}
                {{filter_sort_form.language}}

                {{filter_sort_form.genre.errors}}
                {{filter_sort_form.genre.label_tag}}
                {{filter_sort_form.genre}}

                {{filter_sort_form.solved.errors}}
                {{filter_sort_form.solved.label_tag}}
                {{filter_sort_form.solved}}

                <div class="sort-fields">
                    {{filter_sort_form.sort_by.errors}}
                    {{filter_sort_form.sort_by.label_tag}}
                    <div class="sort-inputs">
                        {{filter_sort_form.sort_by}}

                        {{filter_sort_form.reverse_order.errors}}
                        {{filter_sort_form.reverse_order}}
                        {{filter_sort_form.reverse_order.label_tag}}
                    </div>
                </div>

            </form>
        </ul>

    </div>


    <div class="book-list">
        <ul>

            {% for book in books %}
            <a class="book" href={% url 'details' book.id %}>

                {% if book.solved %}
                <i class="fas fa-check-circle solved-icon"></i>

                {% endif %}

                <div class="main-book-info {{book.main_field | slugify}}"
                    style="background-image: url({% static 'books.jpg' %});">
                    <h3 class="main-book-info-label">
                        {{book.main_field | capfirst}}
                    </h3>
                    <div class="main-book-info_body">
                        {% if book.plot_details %}
                        {{book.plot_details | truncatewords:25}}
                        {% elif book.quotes %}
                        {{book.quotes | truncatewords:25}}
                        {% elif book.cover_description %}
                        {{book.cover_description | truncatewords:25}}
                        {% endif %}
                    </div>
                </div>

                <ul class="genres-list">
                    {% for genre in book.genre.all %}
                    <li class="genre">{{genre}}</li>
                    {% endfor %}
                </ul>

                <p class="year-read">Year read: {{book.year_read}}</p>

                <div class="book-footer">
                    <p>{{book.comment_count}} comments</p>
                    <p class="posted">{{book.time}}
                        {% if book.time_unit %}
                        {{book.time_unit}} ago
                        {% endif %}
                    </p>
                </div>
            </a>

            {% endfor %}

        </ul>
    </div>
</div>


{% endblock body %}