.site-nav {
    display: flex;
    justify-content: space-between;
    padding: 0.2em 6em;
    letter-spacing: 0.04em;
    /* position: relative; */
    box-shadow: 0 0 0.5em rgba(1, 1, 1, 0.1);
    /*
    background: rgb(58, 81, 180);
    background: linear-gradient(
        106deg,
        rgba(58, 81, 180, 1) 0%,
        rgba(88, 213, 255, 1) 59%,
        rgba(255, 50, 99, 1) 100%
    ); */
    /* background: rgb(58, 81, 180);
    background: linear-gradient(
        106deg,
        rgba(58, 81, 180, 1) 30%,
        rgba(35, 200, 255, 1) 79%,
        rgba(255, 50, 99, 1) 100%
    ); */
    background-color: white;
}

.site-nav ul {
    display: flex;
    margin: 0 1em;
}

.site-nav li {
    padding: 0.3em 0.9em;
    text-transform: uppercase;
}

.site-nav a {
    /* color: #f5faff; */
}

.site-nav a:hover {
    color: rgb(55, 33, 116);
}

.site-logo {
    /* height: 6em; */
    position: absolute;
    left: 50%;
    top: -0.1em;
    background-color: white;
    /* top: 0.2em; */
    /* background: rgb(58, 81, 180);
    background: linear-gradient(
        106deg,
        rgba(58, 81, 180, 1) 30%,
        rgba(35, 200, 255, 1) 79%,
        rgba(255, 50, 99, 1) 100%
    ); */
    padding: 1em;
    border-radius: 20%;
    box-shadow: 0 0 0.5em rgba(1, 1, 1, 0.1);
}
