html {
    overflow-y: scroll;
}

body {
    background-color: #fafafa;
}

.site-main {
    margin: 3em auto;
    padding: 2em;
    color: #1d1a52;
}

.site-create {
    width: 50em;
}

.form-container {
    position: relative;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 0.5em rgba(1, 1, 1, 0.1);
    border-radius: 0.4em;
    margin: 2em 0 0;
}

.form-nav {
    background: rgb(58, 81, 180);
    /* background: linear-gradient(
        106deg,
        rgba(58, 81, 180, 1) 0%,
        rgba(88, 213, 255, 1) 59%,
        rgba(255, 50, 99, 1) 100%
    ); */
    /* padding: 1em 5em; */
    /* background-color: rgba(255, 50, 99, 1); */
    /* background: rgb(58, 81, 180);
    background: linear-gradient(
        106deg,
        rgba(58, 81, 180, 1) 0%,
        rgba(42, 88, 171, 1) 7%,
        rgba(255, 50, 99, 1) 52%
    ); */
    /* background: rgb(255, 95, 109);
    background: linear-gradient(
        106deg,
        rgba(255, 95, 109, 1) 0%,
        rgba(255, 195, 113, 1) 100%
    ); */
    /* background: rgb(198, 255, 221);
    background: linear-gradient(
        106deg,
        rgba(198, 255, 221, 1) 0%,
        rgba(251, 215, 134, 1) 28%,
        rgba(247, 121, 125, 1) 100%
    ); */
    /* background: rgb(247, 121, 125);
    background: linear-gradient(
        106deg,
        rgba(247, 121, 125, 1) 0%,
        rgba(249, 190, 110, 1) 73%,
        rgba(255, 140, 128, 1) 95%
    ); */
    /* background: rgb(247, 121, 125);
    background: linear-gradient(
        106deg,
        rgba(247, 121, 125, 1) 0%,
        rgba(255, 182, 115, 1) 73%,
        rgba(255, 140, 128, 1) 95%
    ); */
    background: rgb(247, 121, 125);
    background: linear-gradient(
        106deg,
        rgba(247, 121, 125, 1) 0%,
        rgba(255, 175, 110, 1) 73%,
        rgba(255, 140, 128, 1) 95%
    );
    background: rgb(247, 121, 125);
    background: linear-gradient(
        108deg,
        rgba(247, 121, 125, 1) 0%,
        rgba(255, 158, 110, 1) 73%,
        rgba(255, 140, 128, 1) 95%
    );
    background: rgb(247, 121, 125);
    background: linear-gradient(
        108deg,
        rgba(247, 121, 125, 1) 31%,
        rgba(255, 199, 121, 0.9) 60%,
        rgba(255, 140, 128, 1) 81%
    );
    background: rgb(247, 121, 125);
    background: rgb(247, 121, 125);
    background: linear-gradient(
        108deg,
        rgba(247, 121, 125, 1) 5%,
        rgba(255, 147, 121, 1) 60%,
        rgba(255, 140, 128, 1) 81%
    );
    background: rgb(255, 92, 97);
    background: linear-gradient(
        108deg,
        rgba(255, 92, 97, 1) 26%,
        rgba(255, 129, 98, 1) 60%,
        rgba(255, 109, 94, 1) 81%
    );
    background: rgb(252, 86, 86);
    background: linear-gradient(
        108deg,
        rgba(252, 86, 86, 1) 26%,
        rgba(255, 129, 98, 1) 60%,
        rgba(255, 94, 122, 1) 81%
    );
    background: rgb(241, 66, 161);
    background: rgb(241, 66, 161);
    background: linear-gradient(
        127deg,
        rgba(241, 66, 161, 1) 24%,
        rgba(141, 84, 255, 1) 80%,
        rgba(126, 250, 238, 1) 100%
    );
    background: rgb(241, 66, 161);
    background: linear-gradient(
        127deg,
        rgba(241, 66, 161, 1) 12%,
        rgba(140, 83, 254, 1) 68%,
        rgba(87, 147, 255, 1) 100%
    );
    background: rgb(241, 66, 161);
    background: linear-gradient(
        45deg,
        rgba(241, 66, 161, 1) 12%,
        rgba(140, 83, 254, 1) 68%,
        rgba(89, 40, 255, 1) 100%
    );
    background: rgb(241, 66, 161);
    background: linear-gradient(
        45deg,
        rgba(241, 66, 161, 1) 12%,
        rgba(140, 83, 254, 1) 68%,
        rgba(125, 40, 255, 1) 100%
    );
    background: rgb(66, 209, 152);
    background: linear-gradient(
        45deg,
        rgba(66, 209, 152, 1) 12%,
        rgba(71, 170, 176, 1) 38%,
        rgba(80, 111, 199, 1) 64%
    );
    background: rgb(40, 165, 181);
    background: linear-gradient(
        45deg,
        rgba(40, 165, 181, 1) 1%,
        rgba(80, 111, 199, 1) 69%,
        rgba(99, 62, 135, 1) 100%
    );
    background: rgb(40, 165, 181);
    background: linear-gradient(
        45deg,
        rgba(40, 165, 181, 1) 1%,
        rgba(42, 116, 173, 1) 40%,
        rgba(80, 111, 199, 1) 78%,
        rgba(99, 62, 135, 1) 100%
    );
    background: rgb(40, 165, 181);
    background: linear-gradient(
        45deg,
        rgba(40, 165, 181, 1) 1%,
        rgba(92, 42, 173, 1) 60%,
        rgba(99, 62, 135, 1) 100%
    );
    background: rgb(243, 11, 108);
    background: linear-gradient(
        45deg,
        rgba(243, 11, 108, 1) 1%,
        rgba(167, 32, 155, 1) 87%,
        rgba(255, 73, 120, 0.7) 100%
    );
    background: rgb(243, 11, 108);
    background: linear-gradient(
        45deg,
        rgba(243, 11, 108, 1) 1%,
        rgba(167, 32, 155, 1) 87%,
        rgba(171, 21, 173, 1) 100%
    );
    background: rgb(247, 121, 125);
    background: linear-gradient(
        108deg,
        rgba(247, 121, 125, 1) 5%,
        rgba(255, 147, 121, 1) 60%,
        rgba(255, 140, 128, 1) 81%
    );
    background: rgb(247, 121, 125);
    background: linear-gradient(
        108deg,
        rgba(247, 121, 125, 1) 5%,
        rgba(255, 147, 121, 1) 60%,
        rgba(255, 140, 128, 1) 81%,
        rgba(255, 104, 88, 1) 98%
    );
    background: rgb(107, 198, 183);
    background: radial-gradient(
        circle,
        rgba(107, 198, 183, 1) 31%,
        rgba(12, 166, 151, 1) 100%
    );
    background: linear-gradient(90deg, #3f2b96 0%, #a8c0ff 100%);
    background: rgb(66, 47, 153);
    background: linear-gradient(
        45deg,
        rgba(66, 47, 153, 1) 35%,
        rgba(122, 146, 208, 1) 100%
    );
    /* background-color: #ff9a8b;
    background-image: linear-gradient(
        90deg,
        #ff9a8b 0%,
        #ff6a88 55%,
        #ff99ac 100%
    ); */

    margin: 0 auto 0.5em;
    color: #f5f5ff;
    padding-bottom: 0.5em;
    font-weight: 500;
}

.form-nav:after {
    display: block;
    background-color: white;
    height: 0.1em;
    content: "";
    position: absolute;
    top: 3em;
    left: 3em;
    right: 3em;
    margin-top: 0.2em;
}

.form-nav ul {
    display: flex;
    justify-content: space-around;
}

.form-nav ul li {
    width: 10em;
    height: 100%;
    padding: 1em 0 1.5em;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-nav ul li:after {
    display: block;
    position: absolute;
}

.form-nav ul li:not(.selected):after {
    height: 0.6em;
    width: 0.6em;
    top: 3rem;
    content: "";
    border-radius: 100%;
    background-color: #f5f5ff;
}

.form-nav ul li.selected:after {
    content: "⦿";
    font-size: 1.5em;
    color: white;
    top: 2.1rem;
    text-align: center;
}

.create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
    border-radius: 0.5em;
    width: 40em;
    background-color: white;
    margin: auto;
}

.create-form > ul > li {
    display: flex;
    align-items: flex-start;
}

.create-form > ul > li label {
    width: 20%;
}

.create-form > ul > li input,
.create-form > ul > li textarea {
    margin-left: 3em;
    background-color: #f1f1f1;
    border: 0.01em solid rgba(218, 208, 208, 0.5);
    border-radius: 0.3em;
    padding: 0.2em 0.5em;
}

.create-form input:focus,
.create-form textarea:focus {
    outline-color: rgba(160, 160, 160, 0.5);
}

.create-form > ul > li {
    margin: 1em 0;
}

.create-form .group-two,
.create-form .group-three {
    display: none;
}

.create-form .form-group-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.create-form .group-one .continue-btn {
    margin-left: auto;
}

.create-form button {
    border: none;
    color: #f5f5ff;
    padding: 0.3em 1em;
    border-radius: 0.3em;
}

.create-form .continue-btn,
.create-form button[type="submit"] {
    background-color: rgb(255, 50, 99);
}

.create-form .back-btn {
    background-color: rgb(167, 167, 167);
}

.create-form .genre-choices input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.create-form .genre-choices input:checked + label {
    background-color: rgba(255, 50, 99, 0.8);
    color: white;
}
.create-form .genre-choices input:focus + label {
    outline: solid 0.15em rgba(160, 160, 160, 0.5);
}

.genre-choices {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.genre-choices li:first-child {
    display: none;
}

.create-form .genre-field {
    flex-direction: column;
}

.genre-choices li {
    font-size: 0.8em;
    margin: 0.7em 0.5em;
    /* overflow: hidden; */
}

.genre-choices label {
    /* width: 100%; */
    padding: 0.5em;
    background-color: #f1f1f1;
    border-radius: 0.3em;
}
