{% extends 'base.html' %} {% block body %}

<div class="site-main profile-container">
    <div class="profile-side-banner">
        <div class="profile-picture-container">
            <form method="POST" enctype="multipart/form-data">
                <label for="id_profile_picture"><i class="fas fa-edit"></i></label>{{form.profile_picture}}
            </form>

            <img {% if not profile.profile_picture %}
                src="https://previews.123rf.com/images/wenchiawang/wenchiawang1511/wenchiawang151103313/48301878-animal-raccoon-doodle-speech-bubble.jpg"
                {% else %} src={{profile.profile_picture.url}} {% endif %} alt="profile-picture"
                class="profile-picture" />
        </div>
        <p class="username">{{username}}</p>
        <p class="last-active">last online 2 hours ago</p>
        <span class="badge">:)</span>

        {% block bio %}

        {% endblock bio %}


        <p class="user-joined">User joined on {{date_joined}}.</p>
    </div>
    <div class="profile-main">
        <div class="books-posted">
            <div class="books-posted-nav">
                <h3>Books posted</h3>
                <span class="books-count">{{books_count}}</span>

                {% if show_books %}
                <a href={% url "profile" %}>Hide</a>
                {% else %}
                <a href={% url "show all books" %}>See all</a>

                {% endif %}

            </div>

            <div class="posted-books">
                <ul>
                    {% for book in books %}
                    <a class="book {{book.main_field|slugify}}" href={% url 'details' book.id %}>
                        <h3>{{book.main_field|capfirst}}</h3>
                        {% if book.plot_details %}
                        {{book.plot_details | truncatewords:15}}
                        {% elif book.quotes %}
                        {{book.quotes | truncatewords:15}}
                        {% elif book.cover_description %}
                        {{book.cover_description | truncatewords:15}}
                        {% endif %}
                    </a>
                    {% endfor %}
                </ul>

            </div>

        </div>
        <div class="user-comments">
            <div class="comment-nav">
                <h3>My comments</h3>
                <span class="comment-count">{{comment_count}}</span>
                <span class="solutions-count">Solutions: {{solutions_count}}</span>
                {% if show_comments %}
                <a href={% url "profile" %}>Hide</a>
                {% else %}
                <a href={% url "show all comments" %}>See all</a>

                {% endif %}
            </div>
            <ul class="comment-list">

                {% for comment in comments %}

                <a href={% url 'details' comment.book.id %}>
                    {% if comment.is_solution %}
                    <span class="solution-badge"><i class="fas fa-check-square"></i>SOLUTION</span>
                    {% endif %}
                    {{comment.text}}
                </a>
                {% empty %}
                No comments yet
                {% endfor %}

            </ul>
        </div>
    </div>
</div>
{% endblock body %}